textarea:focus,
input:focus,
select:focus{
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.25);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.25);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.25);
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.App.loading {
  justify-content: center;
}

.Bankera-logo {
  width: 14vmin;
  height: 14vmin;
  pointer-events: none;
  margin-bottom: 1vmin;
}

.Bankera-loading {
  color: #2EB2B9;
}

.Bankera-header {
  background-color: #fff;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 5vmin;
}

.Bankera-title {
  color: #2EB2B9;
  margin: 0;
  line-height: 1;
  margin-left: -3px;
  font-size: 5.5vmin;
  margin: 0 0 2.5vmin;
}

.Bankera-disclaimer {
  color: rgba(46, 178, 185, 0.75);
  font-size: 2vmin;
  max-width: 60vmin;
  margin: 0 0 2.5vmin;
}

.Bankera-time {
  color: rgba(46, 178, 185, 0.75);
  font-size: 2.5vmin;
  max-width: 60vmin;
  margin: 0;
}

.Bankera-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vmin;
  border: 1px solid rgba(46, 178, 185, 0.5);
  border-radius: 2vmin;
  background-color: rgba(46, 178, 185, 0.025);
  margin-bottom: 5vmin;
}

.Bankera-label{
  display: flex;
  width: 100%;
  margin-bottom: 3.5vmin;
  position: relative;
}

.Bankera-label.BTC{
  margin-right: auto;
}

.Bankera-label:last-child{
  margin-bottom: 0;
}

.Bankera-span {
  font-size: 2.5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vmin;
  font-weight: bold;
  padding: 1vmin;
  color:white;
  background-color: rgba(46, 178, 185, 0.5);
  border-top-right-radius: 1vmin;
  border-bottom-right-radius: 1vmin;
}

.Bankera-span.BTC{
  color:rgba(247, 147, 26, 1);
  background-color: rgba(247, 147, 26, 0.25);
}

.Bankera-input,
.Bankera-converted {
  width: 25vmin;
  padding: 1vmin;
  border: 1px solid rgba(46, 178, 185, 0.25);
  border-top-left-radius: 1vmin;
  border-bottom-left-radius: 1vmin;
  font-size: 2.5vmin;
}

.Bankera-input {
  max-width: 30vmin;
}

.Bankera-converted {
  display: flex;
  flex: 1;
  margin: 0;
}
.Bankera-converted.dimmed {
  color: rgba(0, 0, 0, 0.25)
}

.Bankera-input.BTC {

  border-color: rgba(247, 147, 26, 0.25);
}

.Bankera-span.BTC{
  border-color: rgba(247, 147, 26, 0.25);
}

.Bankera-input:focus,
.Bankera-input:hover,
.Bankera-input:active {
  border-color:rgba(46, 178, 185, 1);
}

.Bankera-input.BTC:focus,
.Bankera-input.BTC:hover,
.Bankera-input.BTC:active{
  border-color: rgba(247, 147, 26, 1);
}

.Bankera-select {
  width: 100%;
  padding: 1.25vmin;
  border: 1px solid rgba(46, 178, 185, 0.25);
  border-radius: 1vmin;
  font-size: 2.5vmin;
  color: rgba(0, 0, 0, 0.5);
}

.Bankera-select:focus,
.Bankera-select:hover,
.Bankera-select:active {
  border-color:rgba(46, 178, 185, 1);
}

.Bankera-button{
  font-weight: bold;
  border-radius: 50%;
  width: 5.5vmin;
  margin-left: 1vmin;
  color:rgba(0, 0, 0, 0.5);;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 2vmin;
  border: 1px solid rgba(0, 0, 0, 0.25);
  opacity: 0.5;
}
.Bankera-button:focus,
.Bankera-button:hover,
.Bankera-button:active{
  opacity: 1;
}

.Bankera-footer{
  color:rgba(0, 0, 0, 0.25);
  font-size: 2vmin;
}